<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBAJz371yhdW9dobrL12_2l1p9SHcTdFKk</string>
	<key>GCM_SENDER_ID</key>
	<string>667913438777</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.robotTambak</string>
	<key>PROJECT_ID</key>
	<string>sim800-69cc7</string>
	<key>STORAGE_BUCKET</key>
	<string>sim800-69cc7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:667913438777:ios:73839759687d39a87fefe8</string>
	<key>DATABASE_URL</key>
	<string>https://sim800-69cc7-default-rtdb.firebaseio.com</string>
</dict>
</plist>